::-moz-selection { /* Code for Firefox */
    color: white;
    background: #edaf10;
}

::selection {
    color: white;
    background: #edaf10;
}

.navbar-inverse .navbar-toggle{
	border: none !important;
	border-radius: 0px !important;
	border-color: transparent !important;
	float: left;
	margin-left: 2% !important;
	margin-top: 1%;
}

.navbar-inverse .navbar-toggle .icon-bar{
	background-color: #edaf10 !important;
	height: 7px;
	width: 30px;
}

hr{
	border-color: white !important;
}

body{
	background-color: black !important;
}

.border-center { 
    width: 100%;
    border: 0.5px solid white !important;
    position: absolute;
	margin-top: 61px;
	z-index:1;
}

.navbar-inverse{
	 padding-left: 50px !important;
	 padding-right: 70px !important;
	 background-color: black !important;
	 border-bottom:0.5px solid white !important;
}

#logo{
	 height: 61px ;
	 color: #edaf10 ;
	 font-size: 25px ;
	 font-family: "Verdana";
	 font-weight:bold;
}

#logo:hover{
	color: white ; 
    background-color: #edaf10;
    background-size: 80px;	
	
}

.navbar-nav {
	font-family: "Verdana";
	font-size:16px;
	margin-top: 61px !important;
	margin-left: -230px !important;
}

#active{
	color: #edaf10;
	border-bottom: 2px solid #edaf10;
	height: 52px;
    z-index: 1;	
}

#menu, .menu {
    color: white;
}

#menu:hover, .menu:hover {
    background-color: #edaf10;	
	background-size: 60px;
}

.cart:before, .cart2:before{
	 font-weight:900;
	 font-family: 'Font Awesome 5 Free';
     content: "\f290";
	 font-size: 20px;
	 padding-right: 5px;
	 color: white;	 
}

.cart{
	display:none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	margin-top: 0px;
	min-width: 100px;
	overflow: auto;
    background-color: #edaf10;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.link a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.link a:hover {
	background-color: white;
	color:#edaf10;
	text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
	border-top: 1px solid white;
}

.dropdown:hover .dropbtn {
    background-color: #edaf10;
	color:white !important;
}

/* INDEX*/

.jumbotron{
	margin-top: -20px;
}

.jumbotron .container-fluid{
	margin-top: 170px;
	background: rgba( 0, 0, 0, 0.5);
	width: 100%;
	height: 80px;
	padding: 20px;
	font-weight: bold;
	font-size: 24px;
	font-family: "Lucida Calligraphy";
	color: white;
}

.jumbotron .container-fluid i{
	margin-left: 490px;
}


.AB i{
	font-weight: bold;
	font-size: 24px;
	font-family: "Lucida Calligraphy";
	color: white;
}

.AB p{
	font-size: 18px;
	font-family: "Verdana";
	color: white;
}

#förstB{
	display:none;
}

.jumbotron {
    /* The image used */
    background-image: url("Bröd1.jpeg");

    /* Set a specific height */
    min-height: 558px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hLine1{
	width: 730px;
	height: 1px;
	background: white;
	margin-left: 280px;
	margin-top: 70px;
}

.hLine2{
	width: 730px;
	height: 1px;
	background: white;
	margin-left: 280px;
	margin-top: -10px;
}

.vLine1 {
	position: absolute;
    border-right: 1px solid #f2f1ef;
    height: 210px;
	width: 0px;
	margin-left: 290px;
	margin-top: -15px;
}

.vLine2 {
	position: absolute;
    border-right: 1px solid #f2f1ef;
    height: 200px;
	width: 0px;
	margin-left: 1000px;
	margin-top: -200px;
}

.AB{
	margin: 30px 0 30px 310px;
	width: 700px;
	height: 170px;
	padding: 20px;
	text-align:center;
}

.AB a{
	color: #edaf10;
}

.AB a:hover{
	color: #edaf10;
}

.bleh {
	  margin-top: 30px;
      padding: 35px 120px 30px;
	  border: none;
  }
  
  #keh{
	  height: 240px;
  }

  .list-group-item:first-child {
      border-top-right-radius: 0px !important ;
      border-top-left-radius: 0px !important ;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0px !important ;
      border-bottom-left-radius: 0px !important ;
  }
  .thumbnail {
      padding: 0px 0px 15px 0px !important;
      border: none !important;
      border-radius: 0px !important;
  }
  .thumbnail p {
      margin-top: 15px;
      color: black;
  }
  
  .thumbnail img{
	  width: 100%;
	  height:100px;
  }
  
#sortim{
	  display: none;
}
  
.sortiment {
    /* The image used */
    background-image: url("KaffeCroi.jpeg");

    /* Set a specific height */
    min-height: 200px; 
	margin-top: 50px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#linkcol{
	font-size: 15px;
	color:#edaf10;
	text-decoration: underline;
	-webkit-transition: padding-left 2s; /* For Safari 3.1 to 6.0 */
    transition: padding-left 2s;
}

#linkcol:after {
    position: absolute; /* Prevent underline of arrow */
    padding-left:3px; /* Add a little space between text and arrow */
    content: '>'; 
}

#linkcol:hover{
	color:black;
}

#linkcol:hover:after{
	color:black;
	padding-left: 8px;
}

/*BAKELSE*/

#andraB{
	display:none;
}

.bakelseÖversikt {
	margin-top: -30px;
    /* The image used */
    background-image: url("tårtaÖver.jpeg");

    /* Set a specific height */
    min-height: 570px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail #mindre{
	height: 240px;
}

.thumbnail #mindre2{
	height: 240px;
}

#link2{
	color:black;
}

#link2:hover{
	color: #edaf10;
	text-decoration:underline;
}

#läggTill{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
	width: 80px;
    font-size: 13px;
    margin-top: 4px;
    margin-left: 10px;
    font-weight: bold;
}

#läggTill:hover{
    background-color: #edaf10;
	color: white;
}

input {
	outline: none;
}
input[type=number] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=number] {
	border: solid 2px #edaf10;
	padding: 6px 10px 9px 15px;
	width: 55px;
	background-color: #fff;
}


input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}



.cartDown{
	right: 0;
	width: 330px;
	max-height: 400px;
}

.tom{
	border-bottom: 1px solid white;
	height: 60px;
}

.tom p{
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 20px;
}

.vara{
	border-bottom: 1px solid white;
	height: 113px;
}

.vara p{
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding-left: 10px;
	margin-left: 170px;
	margin-top: -100px;

}

#normal{
	color: white;
	font-weight:normal;
    margin-top: 1px;
	font-family:"Verdana";
}

.result{
	margin-top: 0px;
	padding: 20px;
}

.result p{
	color: white;
	font-weight: bold;
	font-size: 13px;
}

#p1{
	padding-left: 110px;
	font-weight: fine;
}

#p2{
	padding-left: 210px;
	font-weight: fine;
}

#p3{
	padding-left: 150px;
	font-weight: fine;
}

#p4{
	padding-left: 160px;
	font-weight: fine;
}

.resultat hr{
	color: white;
}

#shoppingBag{
    border: 2px solid white;
    background-color: #edaf10;
    color: white;
    height: 35px;
	width: 110px;
    font-size: 13px;
    font-weight: bold;
	margin-left: 100px;
	margin-top: 15px;
}

#shoppingBag:hover{  
    background-color: white;  
    color: 	#edaf10;
}

/*BULLAR*/

#tredjeB{
	display: none;
}

.bulleÖversikt{
	margin-top: -30px;
    /* The image used */
    background-image: url("bulleÖver.jpg");

    /* Set a specific height */
    min-height: 570px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mindre3, #mindre4, #mindre5{
	height: 240px;
}

/*BRÖD*/

#fjärdeB{
	display: none;
}

.brödÖversikt{
	margin-top: -30px;
    /* The image used */
    background-image: url("brödÖver.jpg");

    /* Set a specific height */
    min-height: 570px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*INTRO 1*/

.tillbaka{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
	width: 80px;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 70px;
    font-weight: bold;
}

.tillbaka:hover{
    background-color: #edaf10;
    color: white;
}

#introBild{
	margin-left: 70px;
	margin-top: 50px;
	width: 600px;
}

.infoKaka{
	width: 520px;
	margin-left: 750px;
	margin-top: -400px;
}

.infoKaka h3, .infoKaka h4{
	color:white;
	font-weight: bold;
	font-size: 28px;
	margin-top: -5px;
}

.infoKaka h4{
	font-size: 22px;
	margin-top: -20px;
}

.infoKaka h4:after{
	content: "Befintlig";
	font-size: 18px;
	color: #edaf10;
	padding-left: 400px;
}

.infoKaka p{
	color:white;
	font-size: 16px;
	margin-top: -5px;
}
 .infoKaka b{
    color:white;
	font-size: 18px;
}

.infoKaka label{
	color:white;
	font-size: 16px; 
}

.infoKaka i{
    color:white;
	font-size: 12px;
    margin-left: 10px;
}

.infoKaka #läggTill{
	margin-top: 20px;
}

.infokaka #datum{
	  padding: 5px;
	  padding-left: 15px;
}

/*OM OSS*/

.team {
	margin-top: -30px;
    /* The image used */
    background-image: url("people.jpeg");

    /* Set a specific height */
    min-height: 570px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SHOPPINGBAG*/

h1, h2{
	color: white !important;
	text-align: center !important;
	margin-top: 50px !important;
}

#info{
	color: white;
	font-size: 13px;
	font-weight:bold;
    text-align: center;
}

#info2{
	color: white;
	font-size: 18px;
	font-weight:bold;
    text-align: center;
}

#varor{
	
}

#taBort{
	color: white;
	background-color: transparent;
	border-color: transparent;
	font-size: 20px;
	padding:20px;
}

#taBort:hover{
	color: #edaf10;
	text-decoration: underline;
}

table, td, th{
    border: 1px solid white;
    border-collapse: collapse;
	margin-left: 130px;
	padding: 20px !important;
	color: white;
	font-family:"Verdana";
	font-size: 16px;
	
}

th{
	border-right: 1px solid transparent;
}

th:last-child{
	border-right: 1px solid white;
}

table p{
	font-size: 10px;
}

#noPad{
	padding: 0px !important;
}

#datum{
	border: 2px solid #edaf10;
	color: #edaf10;
	padding: 2px;
	width: 230px;
		background-color:white;
}

.radio-inline {
    display: block;
    position: relative;
    padding-left: 30px !important;
	padding-right: 30px;
    margin-top: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.andra{
	margin-bottom: -7px !important;
}

.radio-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-inline:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-inline input:checked ~ .checkmark {
    background-color: #edaf10;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-inline input:checked ~ .checkmark:after {
    display: block;
}

.radio-inline .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#antal{
	color: #edaf10;
}

#uppdatera{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    margin-left: 35px;
    font-weight: bold;
}

#uppdatera:hover{
	background-color: #edaf10;
	color: white;
}

#summa{
	width: 1080px;
	border: 1px solid white;
	margin-left: 130px;
	margin-top: 10px;
	padding: 20px;
	color: white;
	font-family:"Verdana";
	font-size: 16px;
}

.kost{
	color: white !important;
	margin-left: 415px !important;
	position: relative;
	font-weight: 400 !important;
}

.frakt{
	color: white !important;
	margin-left: 390px !important;
	position: relative;
	font-weight: 400 !important;
}

.kost:after, .frakt:after {
  content: '';
  border-bottom: 1px solid white;
  height: 180%; /*You can change this if you want smaller/bigger borders*/
  width: 580px;
  left: 2%;
  position: absolute;
}

#summa b, #order b{
	color: #edaf10;
	margin-left: 380px;
	height: 400px;
}

#tillKassa, .slutför{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
	margin-top: 20px;
    margin-left: 130px;
    font-weight: bold;
}

#tillKassa:hover{
    background-color: #edaf10;
    color: white;
}

/*INNAN KASSA*/

#logIn, #bliMedlem{
	width: 530px;
	border: 1px solid white;
	margin-left: 130px;
	margin-top: 50px;
	padding: 20px;
	color: white;
	font-family:"Verdana";
	font-size: 16px;
}

#logIn label{
	margin-right: 20px !important;
	font-weight: 400 !important;
}

#logIn input{
	margin-top: 10px;
}

#logIn hr, #bliMedlem hr{
	margin-left: -20px;
	width:528px;
}

#logIn h3, #bliMedlem h3{
	margin-top: 0px;
}

input{
	border:2px solid #edaf10;
	padding: 5px;
	color: #edaf10;
}

#buttIn{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
    margin-left: 0px;
    font-weight: bold;
	margin-top: 30px;
}

#buttIn:hover{
    background-color: #edaf10;
    color: white;
}

#bliMedlem{
	margin-left: 680px;
	height: 445px;
	margin-top: -470px;
}

#högre{
	margin-top: 45px !important;
}

#order{
	width: 1080px;
	border: 1px solid white;
	margin-left: 130px;
	margin-top: 10px;
	padding: 20px;
	color: white;
	font-family:"Verdana";
	font-size: 16px;
}

.order{
	width: 790px;
	border: 1px solid white;
	margin-left: 270px;
	margin-top: 50px;
	border: 1px solid white;
	padding: 30px;
}

.order p{
	color: white;
	font-size: 18px;
	line-height: 10px;
}

.order h2{
	text-align: left !important;
	margin-top: 00px !important;
}

.order hr{
	width: 108.4%;
	margin-left: -31px;
}

/*KASSA IN*/

.köp{
	margin-top: 30px;
	width: 600px;
	margin-left: 133px;
	padding: 20px;
	border: 1px solid white;
}

.re hr, .köp hr, .bliMedlem hr{
	margin-left: -20px;
	width: 598px;
}

.re hr{
	width: 398px;
}

.köp h3, .re h3, .bliMedlem h3{
	color:white;
	font-size: 28px;
	margin-top: -5px;
}

.köp label, .bliMedlem label{
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	font-size: 16px;
	font-weight: 400!important;
}

.köp .radio-inline b{
	font-weight: 400;
}

.köp input {
	color: #edaf10;
	margin-left: 240px;
	width: 180px !important;
	font-size: 16px;
}

.köp #nummer{
	margin-left: 240px !important;
}

.köp input[type="month"] {
	width: 210px !important;
	background-color: white;
}

#sel1{
	color: #edaf10;
	position: absolute;
	width: 210px;
	border-radius: 0px;
	height: 40px;
	margin-top: -40px !important;
	margin-left: 320px;
	border: solid 2px #edaf10;
}

.köp #rör{
	margin-left: 245px;
}

.köp #rör2{
	margin-left: 270px;
}

.köp #rör4,.köp #rör3, .köp #rör5{
	margin-left: 250px;
	width: 210px !important;
}

.köp #rör5{
	margin-left: 247px;
}

.köp #rör3{
	margin-left: 275px;
}

.köp i{
	color: white;
	font-size: 16px;
	margin-left: 250px;
}

.köp i:after{
	content: '';
    border-bottom: 1px solid white;
    height: 2%; /*You can change this if you want smaller/bigger borders*/
    width: 274px;
    left: 34%;
    position: absolute;
}

.köp i:before{
	content: '';
    border-bottom: 1px solid white;
    height: 2%; /*You can change this if you want smaller/bigger borders*/
    width: 240px;
    left: 9.9%;
    position: absolute;
}

.re{
	position: absolute;
	border: 1px solid white;
	width: 400px;
	margin-left:800px;
	margin-top: -645px;	
	color: white;
	font-family:"Verdana";
	font-size: 16px;
	padding: 20px;
}

.flytt, .flytt2, .flytt4{
	font-weight: 400 !important;
}


.flytt{
	margin-left: 160px;
}

.flytt2{
	margin-left: 205px;
}

.flytt3{
	color: #edaf10;
	margin-left: 184px;
}

.flytt4{
	margin-left: 252px;
}

#rabatt{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 5px 8px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

#rabatt:hover{
    background-color: #edaf10;
    color: white;
}

#rabatt:after{
	border-bottom: 2px solid white;
	margin-top: 100px;
}

#bestäL{
	margin-top: 20px;
	margin-left: -20px;
	background-color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	color: white;
	height: 45px;
	width:400px;
	margin-bottom: -20px;
}

#bestä{
	padding-top: 40px;
	height: 150px;
	
}

.re2 #bestä:after, .re4 #bestä:after{
	content: '';
    border-top: 1px solid white;
    top: 71%; /*You can change this if you want smaller/bigger borders*/
    width: 398px;
    left: 0%;
    position: absolute;
}

.re4 #bestä:after{
    top: 80%;
}

.re2 .flytt4{
	margin-left: 225px;
}

.re2 .flytt3{
	margin-left: 172px;
}


.re3 #bestä:after{
	content: '';
    border-top: 1px solid white;
    top: 70%; /*You can change this if you want smaller/bigger borders*/
    width: 398px;
    left: 0%;
    position: absolute;
}



#bestä p{
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	margin-left: 170px;
	margin-top: -100px;
	padding-bottom: 80px;
}

#normal{
	color: white;
	font-weight: 400 !important;
    margin-top: 1px;
	font-family:"Verdana";
}

.slutför{
	margin-left: 130px !important;
}

#buttIn{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
    margin-left: 0px;
    font-weight: bold;
}

#buttIn:hover{
    background-color: #edaf10;
    color: white;
}


/*BLI MEDLEM*/

.bliMedlem{
	width: 800px;
	margin-left: 260px;
	padding: 20px;
	border: solid 1px white;
	margin-top: 30px;
}

.bliMedlem hr{
	width: 798px;
}

.bliMedlem input{
	border:2px solid #edaf10;
	padding: 5px;
	color: #edaf10;
	width: 180px;
	margin-left: 20px;
}

#högerTel{
	margin-left: 385px;
}

#höger{
	margin-left: 410px;
}

#högerMer{
	margin-left: 430px;
}

#höger2{
	margin-left: 295px;
}

.tillbaka2{
	margin-left: 260px;
}

.skicka{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
	width: 80px;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 10px;
    font-weight: bold;
	margin-left: 260px;
    margin-top: px;	
}

.skicka:hover{
    background-color: #edaf10;
    color: white;
}

/*KASSA*/

.köp2 h4{
	font-size: 20px;
	color: white;
}

.köp2 label{
	margin-left: 20px;
}

.köp3 input {
	color: #edaf10;
	margin-left: 20px;
	width: 220px !important;
	font-size: 16px;
}

.köp3 #höger{
	margin-left: 220px;
}

.köp3 #högerTel{
	margin-left: 385px;
}

.köp3 #högerMer{
	margin-left: 230px;
}

.köp3 #höger2{
	margin-left: 70px;
}

.re2{
	margin-top: -1205px;
}

.re2 h4{
	margin-top: 50px;
}


/*KASSAIN2*/

.köp .radio-inline{
	margin-bottom: 20px;
	padding-right: 110px;
}

.köp .åHög{
	margin-left: -15px !important;
}

.re4{
	margin-top: -470px;
}

/*KASSA2*/

.re2 a{
	color: #edaf10;
}

.re2 a:hover{
	color: #edaf10;
}

.re3{
	margin-top: -1010px;
}

.re3 .flytt3{
	margin-left: 180px;
}

/*FOOTER*/

footer{
	border-top: 2px solid white!important;
	/*background-color: rgb(255, 255, 255, 0.3) !important;*/
	min-height: 200px;
	margin-top: 50px;
}

#fav{
	margin-top: 50px;
	margin-left: 80px;
}

.logoInfo{
	padding: 20px;
	margin-top: -280px;
	margin-left: 320px;
	width: 300px;
	height: 200px;
	text-align:center;
}

.logoInfo p, .öppet p{
	font-size: 18px;
	color: white;
}

.map:before{
	 font-weight:900;
	 font-family: 'Font Awesome 5 Free';
     content: "\f3c5";
	 font-size: 20px;
	 padding-right: 10px;
	 color: #edaf10;
}

.telefon:before{
	 font-weight:900;
	 font-family: 'Font Awesome 5 Free';
     content: "\f095";
	 padding-right: 20px;
	 color: #edaf10;
}

.brev:before{
	 font-weight:900;
	 font-family: 'Font Awesome 5 Free';
     content: "\f0e0";
	 font-size: 20px;
	 padding-right: 10px;
	 color: #edaf10;
}

#media{
	position: relative;
	margin-top: -30px;
	margin-left: 480px;
	width: 190px;
	left: 500px;
    bottom: 150px;
	text-align:center;
}

#media p{
	font-size: 18px;
	color: white;
}

.fab{
	cursor:pointer;
	color: #edaf10;
	padding-right: 20px;
	font-size: 40px; 
}

.fab:hover{
    color:white;
}

.öppet{
	padding: 20px;
	margin-top: -200px;
	margin-left: 680px;
	width: 210px;
	text-align:center;
}

.öppet h3, .logoInfo h3, #media h3{
	font-size: 18px !important;
	font-weight:bold !important;
	color: white !important;
}

.färdig{
	position: absolute;
	border: 2px solid #edaf10;
	background-color: white;
	color: black;
	padding: 20px;
	margin-top: 100px;
	margin-left: 570px;
	width: 200px;
	font-size: 18px;
}

.färdig p{
	margin-left: 20px;
}

#färd{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
	margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
}

.färdig2{
	margin-left: 480px;
	width: 400px;
}

.färdig2 #färd{
	margin-left: 150px;
}


/* ####### responsive layout CSS ####### */

@media (max-width: 576px){ 

.bannerContainer {
    position:relative; 
	margin-top: 15%;
}

.navbar {
    position:absolute !important;
    top: -60px;
    z-index:10;
    width: 100%;
	padding: 0px !important;
}

.navbar-inverse{
	 padding-left: 0px !important;
	 padding-right: 0px !important;
	 padding-bottom: 0px !important;
}

.navbar-nav {
	margin-top: 0px !important;
	margin-left: 0px !important;
	padding: 0px !important;
}

#logo{
	height: 30% !important;
	margin-left: 8%;
	padding-top: 4.5%;
	font-size: 18px;
}

.border-center { 
    display:none;
}

.cart{
	 display: block;
	 margin-left: 129%;
	 width: 56px;
}

.cart2{
	 display: none !important;
}

.cartDown{
	left: -360%;
	width: 330px;
	max-height: 400px;
}

#active{
	height: 42px;
}

/* INDEX*/

.bannerContainer{
	position:relative;
}

.jumbotron{
    display: none;
}

#förstB{
	width: 100%;
	display: block;
	margin-top: 60px;
}

.jumbotron .container-fluid{
	margin-top: 170px;
	background: rgba( 0, 0, 0, 0.5);
	width: 100%;
	height: 80px;
	padding: 20px;
	font-weight: bold;
	font-size: 24px;
	font-family: "Lucida Calligraphy";
	color: white;
}

.jumbotron .container-fluid i{
	margin-left: 490px;
}

.AB{
	position:relative;
	margin: 0px 0 40% 12%;
	width: 75%;
	height: 170px;
	padding: 20px;

}


.AB i{
	font-weight: bold;
	font-size: 24px;
	font-family: "Lucida Calligraphy";
	color: white;
}

.AB p{
	font-size: 18px;
	font-family: "Verdana";
	color: white;
}

.hLine1{
	width: 85%;
	height: 1px;
	background: white;
	margin-left: 9%;
	margin-top: 15%;
}

.hLine2{
	width: 90%;
	height: 1px;
	background: white;
	margin-left: 5%;
	margin-top: -4%;
}

.vLine1 {
    height: 310px;
	width: 0px;
	margin-left: 50px;
	margin-top: -15px;
}

.vLine2 {
    height: 300px;
	width: 0px;
	margin-left: 360px;
	margin-top: -300px;
}

.bleh {
      padding: 35px 120px 0px;
  }
  
  .thumbnail img{
	  width: 100%;
	  height:100px;
  }
  
#sortim{
	padding-top: 10%;
	display: block;
    width: 100%;	
}
  
.sortiment {
    display: none;
}

#linkcol{
	font-size: 15px;
	color:#edaf10;
	text-decoration: underline;
	-webkit-transition: padding-left 2s; /* For Safari 3.1 to 6.0 */
    transition: padding-left 2s;
}

/*BAKELSE*/

#andraB{
	display:block;
	width: 100% !important;
	margin-top: 60px;
}

.bakelseÖversikt {
	display:none;
}

.thumbnail #mindre{
	height: 240px;
}

.thumbnail #mindre2{
	height: 240px;
}

#link2{
	color:black;
}

#link2:hover{
	color: #edaf10;
	text-decoration:underline;
}

#läggTill{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
	width: 80px;
    font-size: 13px;
    margin-top: 4px;
    margin-left: 10px;
    font-weight: bold;
}

#läggTill:hover{
    background-color: #edaf10;
	color: white;
}

.cartDown{
	right: 0;
	width: 330px;
	max-height: 400px;
}

.tom{
	border-bottom: 1px solid white;
	height: 60px;
}

.tom p{
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 20px;
}

.vara{
	border-bottom: 1px solid white;
	height: 113px;
}

.vara p{
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding-left: 10px;
	margin-left: 170px;
	margin-top: -100px;

}

#normal{
	color: white;
	font-weight:normal;
    margin-top: 1px;
	font-family:"Verdana";
}

.result{
	margin-top: 0px;
	padding: 20px;
}

.result p{
	color: white;
	font-weight: bold;
	font-size: 13px;
}

#p1{
	padding-left: 50%;
}

#p2{
	padding-left: 68%;
}

#p3{
	padding-left: 62%;
}

#p4{
	padding-left: 62%;
}

.resultat hr{
	color: white;
}

#shoppingBag{
    border: 2px solid white;
    background-color: #edaf10;
    color: white;
    height: 35px;
	width: 110px;
    font-size: 13px;
    font-weight: bold;
	margin-left: 100px;
	margin-top: 15px;
}

#shoppingBag:hover{  
    background-color: white;  
    color: 	#edaf10;
}

/*INTRO 1*/

.tillbaka{
    margin-top: 10%;
    margin-left: 5%;
}

#introBild{
	margin-left: 0%;
	margin-top: 5%;
	width: 100%;
}

.infoKaka{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}

.infoKaka h4:after{
	content: "Befintlig";
	padding-left: 68%;
}

.infoKaka .radio-inline{
	margin-bottom: 5%;
}


.infoKaka #datum{
	margin-top: 3%;
	margin-bottom: 5%;
}

/*BULLAR*/

#tredjeB{
	display: block;
	width: 100%;
}

.bulleÖversikt{
	display: none;
}

#mindre3, #mindre4, #mindre5{
	height: 240px;
}

/*BRÖD*/

#fjärdeB{
	display: block;
	width: 100%;
}

.brödÖversikt{
    display: none;
}

/*OM OSS*/

#femteB{
	display: block;
	width: 100%;
}

.team {
	display: none;
}

/*SHOPPINGBAG*/

h1, h2{
	padding-top: 10% !important;
}

#info{
	color: white;
	font-size: 13px;
	font-weight:bold;
    text-align: center;
	padding-bottom: 10%;
}

#info2{
	color: white;
	font-size: 18px;
	font-weight:bold;
    text-align: center;
}

#taBort{
	margin-left: 150px;
}

#noPad img{
	margin-left:  15%;
	width: 70%;
	height: 150px
}

table, th, td{
    border: none;
	margin-left: 3%;
	padding: 0px !important;
}

th{
	display: none;
}

td{
	display: block;
	border: 1px solid white;
	padding: 20px !important;
	width: 90%;
}

#noPad{
	padding: 0px !important;
}

#uppdatera{
    margin-left: 3%;
}

#summa{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
}

.kost{
	margin-left: 40% !important;
}

.frakt{
	margin-left: 33% !important;
}

.kost:after, .frakt:after {
  height: 180%; /*You can change this if you want smaller/bigger borders*/
  width: 425%;
  left: 2%;
}

.kost2:after{
	width: 368%;
}

.kost3:after{
	width: 335%;
}

.frakt:after{
	width: 366%;
}

.frakt2:after{
	width: 420%;
}

#summa b, #order b{
	margin-left: 30%;
}

#tillKassa, .slutför{
	margin-top: 5%;
    margin-left: 15%;
}

/*INNAN KASSA*/

#logIn, #bliMedlem{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}

#logIn hr, #bliMedlem hr{
	margin-left: -6%;
	width: 112%;
}

#bliMedlem{
	margin-left: 5%;
	margin-top: 5%;
}

#order{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
}

#order .kost:after{
	width: 330%;
}

#order .kost2:after{
	width: 422%;
}

#order .frakt:after{
	width: 420%;
}

#order .frakt2:after{
	width: 360%;
}

.order{
	width: 790px;
	border: 1px solid white;
	margin-left: 270px;
	margin-top: 50px;
	border: 1px solid white;
	padding: 30px;
}

.order p{
	color: white;
	font-size: 18px;
	line-height: 10px;
}

.order h2{
	text-align: left !important;
	margin-top: 00px !important;
}

.order hr{
	width: 108.4%;
	margin-left: -31px;
}

#get{
	margin-left: 37% !important;
}

/*KASSA*/

.köp3{
	padding: none;
}

.köp3 label{
	margin-left: 2% !important;
}

.köp3 #input, .bliMedlem #input {
	position: absolute;
	margin-left: 46% !important;
	width: 32% !important;
	margin-top: -8% !important;
}

 #höger, #högerMer{
	position:absolute;
	margin-left: -19% !important;
	margin-top: 20% !important;
}

 #högerTel{
	margin-left: 0px;
}

 #högerMer{
	margin-left: -15% !important;
}

 #höger2{
	margin-top: 10% !important;
	margin-left: 58% !important;
    width: 40% !important;
}

.re2{
	margin-top: -1205px;
}

.re2 h4{
	margin-top: 50px;
}

/*KASSA2*/

.re3 a{
	color: #edaf10;
}

.re3 a:hover{
	color: #edaf10;
}

.re3{
	margin-top: -1285px;
}

.re3 .flytt3{
	margin-left: 180px;
}

/*KASSA IN*/

.köp{
	margin-top: 0%;
	width: 90%;
	margin-left: 5%;
}

.re hr, .köp hr, .bliMedlem hr{
	margin-left: -20px;
	width: 112%;
}

.re hr{
	width: 112%;
}

.köp h3, .re h3, .bliMedlem h3{
	margin-top: 0%;
}

.köp label, .bliMedlem label{
	margin-left: 2%;
	margin-top: 6%;
}

.köp input {
	margin-left: 35% !important;
	width: 33% !important;
}

.köp #nummer{
	margin-left: 37% !important;
}

.köp input[type="month"] {
	width: 42% !important;
	margin-left: 39% !important;
}

#sel1{
	width: 33%;
	height: 40px;
	margin-top: -40;
	margin-left: 46%;
}

.köp #rör2{
	margin-left: 46% !important;
}

.köp #rör4,.köp #rör3, .köp #rör5{
	margin-left: 40% !important;
	width: 42% !important;
}

.köp #rör3{
	margin-left: 48% !important; 
}

.köp #rör3{
	margin-left: 275px;
}

.köp i{
	margin-left: 45%;
}

.köp i:after{
    height: 1.5%; /*You can change this if you want smaller/bigger borders*/
    width: 35%;
    left: 60%;
}

.köp i:before{
    height: 1.5%; /*You can change this if you want smaller/bigger borders*/
    width: 35%;
    left: 5%;
}

.re{
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;	
}

.flytt{
	margin-left: 43%;
}

.flytt2{
	margin-left: 56%;
}

.flytt3{
	margin-left: 47%;
}

.flytt4{
	margin-left: 70%;
}

.flytt5{
	margin-left: 50%;
}

#bestäL{
	margin-top: 5%;
	margin-left: -20px;
	height: 45px;
	width: 112%;
}

.re2 #bestä:after{
    width: 100%;
}

.re2 .flytt4{
	margin-left: 210px;
}

.re4 .flytt4{
	margin-left: 225px;
}

.re2 .flytt3{
	margin-left: 48%;
}

.re3 #bestä:after{
    width: 100%;
}

#bestä p{
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	margin-left: 170px;
	margin-top: -100px;
	padding-bottom: 80px;
}

#normal{
	color: white;
	font-weight: 400 !important;
    margin-top: 1px;
	font-family:"Verdana";
}

.slutför{
	margin-left: 5% !important;
}

#buttIn{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
    margin-left: 0px;
    font-weight: bold;
}

#buttIn:hover{
    background-color: #edaf10;
    color: white;
}


/*KASSAIN2*/

.köp .radio-inline{
	margin-top: px;
	padding-right: 17px;
}

.köp .åHög{
	margin-left: -0px !important;
	margin-top: 15px !important;
}

.re4{
	margin-top: 5%;
}


/*BLI MEDLEM*/

.bliMedlem{
	width: 90%;
	margin-left: 5%;
	margin-top: 0px;
}

.bliMedlem hr{
	width: 112%;
}

.skicka{
    margin-top: 4px;
	margin-left: 5%;
}

/*FOOTER*/

footer{
	border-top: 2px solid white!important;
	/*background-color: rgb(255, 255, 255, 0.3) !important;*/
	min-height: 900px;
	margin-top: 10%;
}

#fav{
	margin-top: 14%;
	margin-left: 25%;
}

.logoInfo{
	padding: 20px;
	margin-top: 0%;
	margin-left: 15%;
}

#media{
	margin-top: 40%;
	margin-left: 30%;
	left: 0px;
}

.öppet{
	margin-top: 0px;
	margin-left: 28%;
}

.färdig{
	margin-top: 10%;
	margin-left: 27%;
}

.färdig p{
	margin-left: 20px;
}

#färd{
	border: 2px solid #edaf10;
    background-color: white;
    color: #edaf10;
    padding: 8px 8px;
    font-size: 16px;
	margin-top: 10px;
    margin-left: 50px;
    font-weight: bold;
}

.färdig2{
	position: absolute;
	margin-left: 15%;
	margin-top: 2%;
	width: 70%;
}

.färdig2 #färd{
	margin-left: 40%;
}

}